:root {
    --white: #fff;
    --whiteDark: #cccccc;
    --black: #000;
    --blackLight: #181818;
    --blackSoftLight: #222222;
    --graySoftLight: #333333;
    --gray: #aaaaaa;
    --blackLightTransparentLow: #181818de;
    --blackLightTransparentHight: #1818185f;
    --orange: #FFA500;
    --orangeDark: #FF8C00;

    /* Background color */
    --backgroundBlackLight: #181818;
    --backgroundBlackLightTransparentLow: #181818de;
    --backgroundGraySoftLight: #333333;
    --backgroundAlertDanger: #ef1c1c89;
    --backgroundAlertSuccess: #35ef1c89;
    --backgroundOrange: #FFA500;
    --backgroundOrangeDark: #FF8C00;
    --backgroundOrangeDarker: #ff5900;
    /* Profile background */
    --profileBackgroundGraySoftLight: #333333;
    --profileBackgroundGraySoftDark: #232323;

    /* Profile Circle color */
    --profileCircleColor: #ffffff33;

    /* Image BG */
    --imageBackgroundGray: #cccccc16;
    --imageBackgroundButtonGray: #cccccc3f;

    /* Border color */
    --borderAlertDanger: #ef535083;
    --borderAlertSuccess: #50ef6b83;
    --borderWhiteTransparentSoft: #ffffff8d;
    --borderImageDownload: #cccccc;


    /* Text color */
    --textWhite: #fff;
    --textGray: #aaaaaa;
    --textError: #D22B2B;

    /* Loader color */
    --loaderBlackLight: #181818;
    --loaderOrange: #FFA500;
    --loaderGradientShadow: #0000;
    --loaderGradientBlack: #000;

    /* Scrollbar color */
    --scrollBarBoxShadow: #0000004d;
    --scrollBarBackground: #F5F5F5;
    --scrollBarThumbBackground: #F90;
    --scrollBarThumbBackgroundImage: -webkit-linear-gradient(45deg,
            #ffffff33 25%,
            transparent 25%,
            transparent 50%,
            #ffffff33 50%,
            #ffffff33 75%,
            transparent 75%,
            transparent);

    /* Text Image color */
    --imageTextGray: #cccccc;
}