@import "../../../_commonStyles/commonColor.module.css";

.postBox {
    position: fixed;
    top: 92vh;
    left: 94vw;
    border-radius: 50%;
    background-color: var(--backgroundOrangeDark);
    color: var(--textWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: 800;
    width: 60px;
    height: 60px;
    cursor: pointer;
}