@import "../../../_commonStyles/commonColor.module.css";

.mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 15px;
    align-items: flex-start;
    overflow-y: auto;
}

@media screen and (min-width: 720px) {
    .mainContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1100px) {
    .mainContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1400px) {
    .mainContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}

.mainContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--scrollBarBoxShadow);
	background-color: var(--scrollBarBackground);
    border-radius: 10px;
}

.mainContainer::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
	background-color: var(--scrollBarBackground);
}

.mainContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--scrollBarThumbBackground);	
	background-image: var(--scrollBarThumbBackgroundImage)
}