@import "../../../_commonStyles/commonColor.module.css";

.mainContainer {
    position: relative;
    display: flex;
    padding: 10px;
    padding-bottom: 80px;
    background: var(--profileBackgroundGraySoftDark);  
    background: linear-gradient(to left, var(--profileBackgroundGraySoftDark), var(--profileBackgroundGraySoftLight));
    position: relative;
}