.imageBox {
    position: relative;
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.imageBox:hover {
    background-color: #cccccc16;
}

.imageBox input {
    width: 100%;
    height: 100%;
}

.fileInput {
    
}